TELEGRAM_CHAT_ID=123456
TELEGRAM_BOT_TOKEN=token

SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USER=user@example.com
SMTP_PASSWORD=password

SMTP_FROM_NAME=Welcome Bot
SMTP_DESTINATION_EMAIL=example@email.com

CF_ACCOUNT_ID=account-id
CF_API_TOKEN=api-token
CF_FROM_EMAIL=noreply@example.com
CF_DESTINATION_EMAIL=example@email.com